- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  .header
    .header--top
      .header--top__new
      .header--top__new
      .header--top__new.new01
        .new01--hidden
        .header--top__new--btn
          = link_to "新規登録", new_user_registration_path
    .header--center
      .header--center__h1
        This is Me
      %ul.header--center__h2
        %li.header--center__h2--comment-text
          過去の自分
        %li.header--center__h2--comment-text
          未来の目標
        %li.header--center__h2--comment-text
          現在やらなくてはいけないこと
    .header--bottom
      .header--bottom__log-in
        = link_to "ログイン", new_user_session_path
