.question_index
  question_index
  %p
  - @questions.each do |question|
    |
    質問：
    = question.content
    ステータス：
    = question.status
    フィーチャー：
    = question.feature
    |
    %p
  = link_to "質問登録", new_admin_question_path, class: "color-red01"

