@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(https://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700);




.header{
  height: 100vh;
  width:  100%;
  background-image: url("/assets/fantasy-4878767_1920.jpg");
  background-size: cover;
  &--top{
    height: 60px;
    width:  100%;
    display: flex;
    .new01{
      width: 34%;
      height: 60px;
      &--hidden{
        height: 90px;
        transform: rotateZ(11deg);
        transform-origin: right bottom;
        background: black;
      }
    }
    &__new{
      height: 60px;
      width: 33%;
      right: 0;
      position: relative;
      &--btn{
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        margin-right: 50px;
        line-height: 60px;
        a{
          text-decoration: none;
          color: red;
        }
      }

    }
  }
  &--center{
    height: 45vh;
    text-align: center;
    margin-top: 20px;
    &__h1{
      font-size: 200px;
      font-family: 'Londrina Shadow', cursive;
      color: yellow;
    }
    &__h2{
      &--comment-text{
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      }
    }
  }
  &--bottom{
    &__log-in{
      margin: 0 auto;
      text-align: center;
      height: 30px;
      background: green;
      width: 80px;
      line-height: 30px;
      border-radius: 5px;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
