.question {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: image-url("/assets/coffee-690054_1920.jpg");
  height: calc(100vh - 70px);
  padding-top: 70px;
  background-size: 100% 100vh ;
  margin: 0px auto;
  &__form {
    width: 100%;
    display: flex;
    // position: fixed;
    &__new{
      width: 50%;
      height: 100vh;
      text-align: center;
      display: flex;
      &--form{
        background: rgba(238, 238, 238, 0.6);
        border-radius: 10px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-flow: column;
        margin: 80px 50px;
        &__status{
          height: 30px;
          font-size: 20px;
        }
      }
    }
    &__none{
      width: 50%;
      height: 100vh;
      &__label{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
      }
    }
  }
}

.steam {
    position: absolute;
    z-index: 2;
    top: 340px;
    right: 250px;
    -webkit-animation: steam_Move 18s infinite linear;
    animation: steam_Move 18s infinite linear;
    transition: all 1s;

}

.move {
    z-index: 3;
    position: absolute;
    top: 340px;
    right: 250px;
    -webkit-animation: steam_Move 18s infinite linear;
    animation: steam_Move 18s infinite linear;
    transition: all 1s;

}

.steam2 {
    display: none;
}

@keyframes steam_Move {
    0% {
        filter: blur(10px);
        transform: rotateY(0deg);
        transform: scale(1, 1);
        opacity: 0.75;
        top: 460px;
    }
    33% {
        transform: rotateY(40deg);
        transform: scale(0.6, 1.2);
    }
    66% {
        transform: rotateY(2deg);
        transform: scaleY(1.2, 0.4);
    }
    100% {
        filter: blur(16px);
        transform: rotateY(50deg);
        transform: scaleY(1.4, 1.2);
        opacity: 0;
        top: -600px;
    }
}
@-webkit-keyframes steam_Move {
    0% {
        -webkit-filter: blur(10px);
        -webkit-transform: rotateY(0deg);
        -webkit-transform: scale(1, 1);
        opacity: 0.75;
        top: 460px;
    }
    33% {
        -webkit-transform: rotateY(40deg);
        -webkit-transform: scale(0.8, 1.2);
    }
    66% {
        -webkit-transform: rotateY(2deg);
        -webkit-transform: scaleY(1.2, 0.6);
    }

    100% {
        -webkit-filter: blur(16px);
        -webkit-transform: rotateY(50deg);
        -webkit-transform: scaleY(1.4, 1.2);
        top: -600px;
        opacity: 0;
    }
}

.question_index {
  padding-top: 50px;
}
