.main{
  height:500px;
  background-color: lightgrey;
  h2{
    text-align:center;
  }
  .sections{
    width:350px;
    height:350px;
    margin:0 auto;
    text-align:center;
    background-color: lightyellow;
  }
}